<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
      </head>
<body>
    <%- include layout %>
    <div class="class container"><h2>All Product</h2>
        <a href="products/add">Add Product</a></div>
    
</body>
</html>